body {
  background-color: $color-lighter-blue;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font-family: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

ul {
  list-style-type: none;
  padding: 0!important;
  margin: 0;
}

.box-shadow-morphism {
  box-shadow: 20px 20px 60px #d3d0d9,
      -20px -20px 60px #ffffff
}

.tab {
  cursor: pointer;
  color: $color-darker-blue;
}
