body {
  background-color: $color-background-blue!important;
}

a {
  color: inherit;
  text-decoration: none!important;
}

p {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.fullheight {
  min-height: calc(100vh - 172px);
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font-family: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

ul {
  list-style-type: none;
  padding: 0!important;
  margin: 0;
}

.box-shadow-morphism {
  box-shadow: 9px 9px 9px #b5b2bd,
  -9px -9px 18px #c2bfbf;
}

.tab {
  cursor: pointer;
  color: $color-darker-blue;
}

.tooltip-avatar {
  position: relative;
  display: inline-block;
}

.tooltip-avatar .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: $color-primary;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  line-break: strict;


  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin-left: -60px;
}

.tooltip-avatar:hover .tooltiptext {
  visibility: visible;
}
