// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$color-primary: #3912A7;
$color-secondary: #00ABAB;
$color-tertiary: #210B62;
$color-grey: #69676D;
$color-light-blue: #EFEAFF;
$color-dark-blue: #180746;
$color-lighter-blue: #F8F5FF;
$color-background-blue: #c4b9e6;
$color-alert-red: #D36E70;
$color-darker-blue: #0E0526;
$color-black: #141124;
$color-light-grey: #999999;
