// Specific CSS for your home-page
.container-home {
  padding-bottom: 23px;
}

.container-home h1 {
  font-weight: bold;
}

.container-home h2 {
  color: #2D0B8D;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollmenu::-webkit-scrollbar {
  display: none;
}
