.card-profile {
  display: flex;
    margin-top: 50px;
    border: 1px solid #3912A7;
    display: block;
}

.profile-infos {
  padding: 20px;
  display: flex;


  .avatar {

    width: 150px;
  }
}

.socials {
  display: flex;
  justify-content: space-evenly;
      margin-left: 10px;

   i {
    font-size: 1.5em;
    font-weight: 400;
    color: $color-primary;
    padding: 10px;
    padding-right: 10px;
  }
}

.profile-details {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.profile-instruments-tags {
  margin-top: 0.7em;
  display: flex;
}

.profile-genres-tags {
  display: flex;
  margin-top: 0.7em;
}

.profile-description {
  padding-right: 18px;
}

.profile-bookings {
  display: grid;
  justify-content: start;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;

  a {
    color: $color-primary;
  }
}

.user-creations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


.jam-mini-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1em;
  position: relative;
}

.mini-jam-card {
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  height: 100%;
}
