<div class="messages-index d-flex flex-column justify-content-between">
  <div class="w-100 mb-3">
    <h4>Mes messages</h4>
    <div class="messages-list">
      <% chatrooms.each do |chatroom| %>
          <%= link_to chatroom_path(chatroom) do %>
          <div class="chatroom-title<%=" visiting" if params[:id].to_i == chatroom.id %>">
            <%= chatroom.title(current_user) %>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="new-conversation d-flex mb-3 justify-content-center">
    <%= link_to "Nouvelle conversation", new_chatroom_path, class: "secondary-button text-center" %>
  </div>
</div>
