<div class="messages-list">
    <h4>Mes messages</h4>

    <% chatrooms.each do |chatroom| %>
      <div class="chatroom-title">
        <%= link_to chatroom_path(chatroom) do %>
          <%= chatroom.title(current_user) %>
        <% end %>
      </div>
    <% end %>
  <%= link_to "Nouveau message", new_chatroom_path, class: "primary-button" %>
  </div>
