<div class="container">
  <div class="messages-list bg-secondary">
    <h3>Mes messages</h3>
    <% @chatrooms.each do |chatroom| %>
      <div class="chatroom-title bg-info">
        <%= link_to chatroom_path(chatroom) do %>
          <% if chatroom.name.nil? %>
            <% chatroom.chatmembers.each do |chatmember| %>
              <%= chatmember.user.first_name %> <%= chatmember.user.last_name %>
            <% end %>
          <% else %>
            <%= chatroom.name %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
