<div class="container">
  <h2 class=" title-home mt-5">Un lieu de rencontre</h2>
  <div class="card-about-us">
    <div class="text-about-us">
      <div class=" mt-2">
        <h4 class="title-about-us"><strong>Qu'est-ce que YouJam ? </strong></h4>
        <div class="list">
          <p>Toi aussi, tu as du talent, et chez Youjam, on pense que tu dois l'exprimer. On ne peut pas t'empêcher d'avoir le trac, mais on peut t'aider à rencontrer des musiciens et musiciennes talentueux.ses près de chez toi. Invite les personnes les plus motivées à te rejoindre et jammez jusqu'au bout de la nuit !</p>
        </div>
      </div>
      <div>
        <div class="second-text">
          <h4 class="title-about-us"><strong>Comment y participer ? </strong></h4>
          <ul>
            <li><span class= "align-paragraph">1. Inscris-toi et crée ton profil</span>.</li>
            <li>2. Découvre et échange avec la communauté de jammers.</li>
            <li>3. Recherche les jams autour de toi ou crée ta propre jam.</li>
          </ul>
        </div>
      </div>
    </div>
    <%= image_tag 'illustrations/applicationmusic 1' %>
  </div>
</div>
