<div class="container">
  <h2 class="mt-5">Un lieu de rencontre</h2>
  <div class="card-about-us">
    <%= image_tag 'Rectangle 124.png' %>
    <div class="text-about-us">
      <div>
        <h4><strong>Qu'est-ce qu'une Jam session ? </strong></h4>
        <p>Taper le boeuf, improviser, jammer... Les mots ne manquent pas pour décrire comment les musiciens ont pris l'habitude de se réunir spontanément pour jouer ensemble, sans prétentions, juste pour le plaisir.</p>
      </div>
      <div>
        <h4><strong>Comment y participer ? </strong></h4>
        <p>Sur YouJam, c'est très simple, il suffit de s'inscrire, créer un profile et faire une recherche pour trouver des jammeurs et jammeuses près de chez soi. Je suis un claviériste qui cherche un batteur, rien de plus simple. Je sais jouer plusieurs instruments et cherche pratiquer la Bossa Nova, jeu d'enfant !</p>
      </div>
    </div>
  </div>
</div>
