<div class="container">
  <h2 class="mt-5">Un lieu de rencontre</h2>
  <div class="card-about-us">
    <%= image_tag 'Rectangle 124.png' %>
    <div class="text-about-us">
      <div>
        <p><strong>Qu'est-ce qu'une Jam session ? </strong></p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta mollitia quis hic, laboriosam illo iure saepe temporibus velit delectus harum!</p>
      </div>
      <div>
        <p><strong>Comment y participer ? </strong></p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta mollitia quis hic, laboriosam illo iure </p>
      </div>
      <div>
        <p><strong>Qu'est-ce qu'une Jam session ? </strong></p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta mollitia quis hic, laboriosam illo iure saepe temporibus velit </p>
      </div>
    </div>
  </div>
</div>
