<div class="footer d-flex">
  <div class="footer-links">
    <a href="#"><i class="fa-brands fa-spotify"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-more">
    <a href="#">Rejoins-nous</i></a>
    <a href="#">Contacte nous !</i></a>
    <a href="#">Tu veux nous connaitre ?</i></a>
  </div>
</div>
