

<div class="container container-dashboard">
  <h2>Mes jams</h2>
  <div class="jams-content-dashboard">
      <% @all_my_jams.each do |jam| %>
        <%= render "shared/dashboard_bookings_jam", jam: jam %>
      <% end %>
  </div>

  <%= link_to "Editer mon profil", edit_user_registration_path %>




</div>
