<div class="supercontainer d-flex">
  <div class="sidebar w-25">
    <div class="sidebar-elements" data-controller="dashboard-sidebar">
      <ul>
        <li data-action = "click->dashboard-sidebar#activeJam">
          My Jams
        </li>
        <li>
        <%= link_to "Paramètres", edit_user_registration_path %>
        </li>
      </ul>
    </div>
  </div>
  <h3>salut</h3>
  <div>
  </div>
  </div>
