<div class="container-home">
  <div class="banner" style="background-image: url(<%= asset_path 'banner' %>);">
    <div class="container">
      <h1>Stop playing solo your solos</h1>
      <p>Meet musicians & collaborate!</p>
      <div class="d-flex ml-1 mr-1">
      <%= render "jams/form_search" %>
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-2">
    <h1>Les Jams les plus populaires</h1>
    <div class="jam-cards mt-4">
      <% @jams.first(4).each do |jam| %>
        <%= render "shared/jam_card", jam: jam %>
      <% end %>
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <h1>Rencontre des Jammers</h1>
    <div class="jammer-cards mt-4">
      <% @users.each do |user| %>
            <%= render "shared/jammer_card", user: user %>
        <% end %>
    </div>
  </div>
</div>
