<button class="secondary-button" data-bs-toggle="modal" data-bs-target="#editJamModal"> Editer </button>

  <div class="modal fade" id="editJamModal" tabindex="-1" aria-labelledby="editJamModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
          <div class="modal-header modale">
            <h2 class="modal-title fs-5" id="editJamModalLabel"><%= @jam.title.capitalize %></h2>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body modale">
            <%= render "new_jam_form", jam: @jam %>
          </div>
      </div>
    </div>
  </div>
