<div class="modal fade" id="guestsModal" tabindex="-1" aria-labelledby="guestsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
        <div class="modal-header modale">
          <%= cl_image_tag jam.user.avatar.key, class: "avatar-bordered" %>
          <h2 class="modal-title fs-5" id="guestsModalLabel">Participants</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modale">
          C'est le body
        </div>
    </div>
  </div>
</div>
