<div class="container">
  <div class="jams-index-search">
      <%= render 'form_search' %>
  </div>
  <% if @jams.count != 0 %>
    <div class="jams-content">
      <div class="jams-index-cards">
        <% @jams.each do |jam| %>
          <%= render "shared/jam_card", jam: jam %>
        <% end %>
      </div>
      <div class="map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  <% else %>
    <h2 class="message-error-index">Aucune jam ne correspond à votre recherche.</h2>
  <% end %>
</div>


    <%#= form_with url: jams_path, method: :get, class: "d-flex" do %>
      <%#= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a Jam"
      %>
      <%#= text_field_tag :address,
      data: {address_autocomplete_target: "address", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]} %>
      <%#= submit_tag "Search", class: "btn btn-primary" %>
    <%# end %>
