<%= render "jams/jam_banner", jam: @jam %>
<div class="show-container">
  <%= render "jams/jam_details", jam: @jam, accepted_bookings: @accepted_bookings, pending_bookings: @pending_bookings %>
</div>

<%= render "bookings/new_booking", booking: @booking, jam: @jam %>
<%= render "edit_jam", jam: @jam %>
