<%= render "shared/jam_banner", jam: @jam %>
<div class="show-container">
  <%= render "shared/jam_details", jam: @jam, confirmed_guests: @confirmed_guests, pending_guests: @pending_guests %>
</div>

<%= render "bookings/new_booking", booking: @booking, jam: @jam %>
<%= render "edit_jam", jam: @jam %>
