<%= render "shared/jam_banner", jam: @jam %>
<div class="show-container">
  <%= render "shared/jam_details", jam: @jam, confirmed_bookings: @confirmed_bookings, pending_bookings: @pending_bookings %>
</div>
