<%= render "jams/jam_banner", jam: @jam %>
<div class="show-container">
  <%= render "jams/jam_details", jam: @jam, accepted_bookings: @accepted_bookings, pending_bookings: @pending_bookings %>
  <% if @jam.bookings.where(user: current_user, status: "accepted").any? || (@jam.user == current_user && @jam.bookings.any?) %>
    <div class="post">
      <div class="create-publication">
        <%= render "posts/new_post", post: @post, jam: @jam %>
      </div>
      <%= render "posts/index_posts", posts: @posts, jam: @jam %>
    </div>
  <% end %>
</div>
