.jams-content {
  display: flex;
}

.jams-index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin: 1em 0;
  align-items: flex-start;
  width: 50%;
  margin-right: 20px;
}

.jams-index-search {
  padding: 2em;
  display: flex;
  justify-content: center;
  position: relative;
}

.message-error-index {
  text-align: center;
  color: $color-dark-blue;
}

.jams-index-search img {
  position: absolute;
  height: 128%;
  z-index: -1;
  left: -89px;
  top: 9px;
}
