<div class="posts">
  <% @posts.each do |post| %>
    <div class="publication">
      <div class="header-publication">
        <%= cl_image_tag post.user.avatar.key, class: "avatar-bordered" %>
        <span class="post-author"><%=post.user.first_name%> <%=post.user.last_name%> </span>
      </div>
      <div class="body-publication">
      <p> <%= post.content %> </p>
      </div>
    </div>
  <% end %>
</div>
