.primary-button {
  background-color: $color-primary;
  color: white;
  text-decoration: none;
  padding: 9px 14px;
  border-radius: 4px;
  border: none;
}

.primary-button:hover {
  background-color: #5e489d;
  color: white;
  text-decoration: none;
  padding: 9px 14px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.jambanner-i-button .primary-button {
  padding: 9px 29px
}

.primary-button.b-accept {
  background-color: $color-secondary;
  padding: 6px 29px;
}

.primary-button.b-decline {
  background-color: $color-alert-red;
  margin-left: 10px;
  padding: 6px 29px;
}

.modale-guests-line {
  margin-bottom: 15px;
}
