.primary-button {
  background-color: $color-primary;
  color: white;
  text-decoration: none;
  padding: 9px 14px;
  border-radius: 4px;
}

.primary-button:hover {
  background-color: #3912a7de;
  color: white;
  text-decoration: none;
  padding: 9px 14px;
  border-radius: 4px;
  transition: background 0.3s ease;
}
