.primary-button {
  background-color: $color-primary;
  color: white;
  text-decoration: none;
  padding: 9px 14px;
  border-radius: 4px;
  border: none;
}

.spotify-button {
  background-color: $color-spotify;
  color: white;
  text-decoration: none;
  padding: 6px 14px;
  border-radius: 4px;
  border: none;
  transition: 0.1s ease-in-out
}

.spotify-button:hover {
  opacity: 0.7;
}


.primary-button:hover {
  background-color: $color-secondary;
  color: white;
  transition: background 0.3s ease;
}

.jambanner-i-button .primary-button {
  padding: 9px 29px
}

.primary-button.b-accept {
  background-color: $color-secondary;
  padding: 6px 29px;
}

.primary-button.b-accept:hover {
  background-color: $color-dark-blue;
  color: white;
  text-decoration: none;
  padding: 6px 29px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.primary-button.b-decline {
  background-color: $color-alert-red;
  margin-left: 10px;
  padding: 6px 29px;
}

.primary-button.b-decline:hover {
  background-color: $color-dark-blue;
  margin-left: 10px;
  padding: 6px 29px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.secondary-button.b-inactive {
  background-color: $color-grey ;
}

.secondary-button.b-inactive:hover {
  background-color: $color-grey ;
}

.modale-guests-line {
  margin-bottom: 15px;
}

.secondary-button {
  background-color: $color-secondary;
  color: white;
  text-decoration: none;
  padding: 9px 14px;
  border-radius: 4px;
  border: none;
}

.secondary-button:hover {
  background-color: $color-dark-blue;
  color: white;
  text-decoration: none;
  padding: 9px 14px;
  border-radius: 4px;
  transition: background 0.1s ease-in-out;
}
