.jam-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.jam-card {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 266.25px;
  transition: opacity 0.1s ease-in-out;
  background-color:white;
  border-radius: 12px;
  height: 100%;
}

.jam-card:hover .jam-card-cover,
.jam-card:hover .card-title {
  opacity: 0.9;
}

.jam-card-cover {
  background-size: cover;
  height: 180px;
  position: relative;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  .jam-card-photo {
    height: 89%;
    width: 89%;
    border-radius: 12px;
    object-fit: cover;
    margin-top: 1.5em;
  }
}

.jam-card-cover .avatar {
  position: absolute;
  top: 18%;
  right: 10%;
  box-shadow: 0px 0px 8px #ffffff90;
  outline: 2px solid white;
}

.jam-card-infos {
  flex-grow: 1;
  height: 100%;
}

.jam-card-infos h3 {
  font-size: 1.3em;
  color: $color-black;
  font-weight: 600;
}

.jam-card-infos .card-date {
  font-size: 0.9em;
  color: $color-light-grey;
  margin-top: 1em;
  font-weight: 700;

  i {
    font-size: 15px;
    margin-right: 8px;
  }
}
.jam-card-infos .card-location {
  font-size: 0.9em;
  color: $color-light-grey;
  margin-top: 1em;
  font-weight: 700;

  i {
    font-size: 15px;
    margin-right: 8px;
  }
}

.participant-icon {
  font-size: 25px;
  color: $color-light-grey;
}

.participants {
  display: flex;
  align-items: center;
  width: 80%;
}

.status_participants {
  text-align: left;
}
