.jammer-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.jammer-card {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}

.jammer-card .avatar {
  margin-right: 20px;
  height: 80px;
  width: 80px;
}

.jammer-card-infos {
  display: flex;
  flex-direction: column;
}

.jammer-card .card-location {
  font-size: 0.8em;
  color: $color-tertiary;
}

.jammer-card .card-user {
  font-size: 1.3em;
  font-weight: bold;
  color: $color-primary;
}
