.jammer-cards {
  display: flex;
  grid-gap: 1.2em;
}

.jammer-card {
  display: flex;
  align-items: flex-start;
  // box-shadow:  0px 5px 15px rgb(0 0 0 / 35%);
  border-radius: 20px;
  max-width: 361px;
  min-width: 361px;
  background-color:white;
  height: 100%;
}

.jammer-card .avatar {
  margin-right: 20px;
  height: 80px;
  width: 80px;
}

.jammer-card-infos {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.jammer-card .card-location {
  font-size: 0.8em;
  color: $color-tertiary;
}

.jammer-card .card-user {
  font-size: 1.3em;
  font-weight: bold;
  color: $color-dark-blue;
}

.jammer-card i {
  color: #fdd562
 }
.jammer-card .note-review {
  color: $color-light-grey
 }

 .jammer-card .index-reviews {
    justify-content: flex-start;
 }
