.footer {
  background: $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
  flex-direction: column;
}
.footer-links {
  display: flex;
  align-items: center;
  margin-top: 1em;
}
.footer-links a {
  color: white;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.7;
}
.footer .fa-heart {
  color: #D23333;
}
.footer-more {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.footer-more a {
  color: white;
  opacity: 1;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}
.footer-more a:hover {
  opacity: 0.7;
}
