.form-control {
  background-color: white;
  border-radius: 8px;
}

.edit_jam .primary-button {
  width: 100%;
}

.edit_jam .modal-header {
  background-color: $color-primary;
}

.edit_jam .modal-title {
  color: white;
}

.formboxwhite {
  padding: 40px;
  background-color: #00000030;
  border-radius: 5px;
  opacity: 1;
}
