.jambanner {
  height: 280px;
  width: 100%;
  color: $color-dark-blue;
  background-position: center;
}

.jambanner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jambanner-i-container {
  height: auto;
  padding: 18px 5%;
}

.jambanner-box {
  padding-top: 100px;
  color: white;
}

.jambanner-i-t-l-container {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
}

.jambanner-i-date-time {
  font-size: 1.2em;
}

.jambanner-i-title {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 35px;
}
