.message-row {
  margin-bottom: 10px;
  padding: 8px;
  color: white;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;

}

.sender-style {
  opacity: 0.7;
  background-color: $color-primary;
}

.receiver-style {
  opacity: 0.7;
  background-color: $color-secondary;
}
