.messages-index {
  min-width: 24vw;
  width: 24vw;
  margin-top: 0.5em;
  height: 100%;
  background-color: $color-dark-blue;
  border-radius: 5px 0 0 5px;

  h4 {
    padding: 0.5em;
    color: white;
    font-weight: bold;
    margin-top: 3px;
  }

  .chatroom-title {
    font-weight: 900;
    padding: 7px 14px;
    background-color: transparent;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #fff solid;
    opacity: 0.7;
  }

  .chatroom-title:hover {
    opacity: 1;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .chatroom-title.visiting {
    opacity:1;
  }

  .messages-list {

  }

  .messages-new {
    margin: 0.5em;
    padding: 1em;
    border-radius: 4px;
  }
}

.message-row {
  margin-bottom: 10px;
  padding: 8px;
  color: white;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;

}

.sender-style {
  opacity: 0.7;
  background-color: $color-primary;
}

.receiver-style {
  opacity: 0.7;
  background-color: $color-secondary;
}

.new-conversation {
  height: 40px;
}
