.modale {
  background-color: $color-light-blue;
  color: $color-dark-blue;
}

.modal-content {
  border-radius: 4px;
}

.modal-header {
  background-color: $color-primary;
  border-radius: 2px 2px 0px 0px;
}

.modal-body {
  border-radius: 0px 0px 4px 4px;
}

.modal-title {
  color: white;
}

.modal-title .btn-close btn-close-white {
  color: white;
}

.modale .form-control {
  background-color: white;
  border: none;
  height: auto;
  color: $color-dark-blue;

}

#booking_message::placeholder {
  color: $color-dark-blue;
}

.modal-submit {
  color: $color-dark-blue;
  background-color: $color-lighter-blue;
  width: 100%;
}

.modale .avatar {
  border: solid $color-secondary 2px;
  margin-right: 10px;
}


.modal-title-guests {
  flex-grow: 1;
  text-align: center;
}

.modale-guests-header {
  border-bottom: 1px solid white;
  color: $color-primary
}

.modale-guests-status {
  display: flex;
  flex-wrap: nowrap;
}

.modale-guests-status > div {
  font-size: 1em;
}

.modale-guests-status > div:nth-child(n+1) {
  margin-left: 25px;
}

.modale-guests-body {
  min-height: 40px;
  margin: 30px 5%;
}

.modale-guests-line {
  margin-bottom: 15px;
}

.booking-description {
  margin-bottom: 17px;
  font-style: italic;
  padding-left: 49px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-primary
}
