.modale {
  background-color: $color-light-blue;
  color: $color-dark-blue;
  border-radius: 0px 0px 5px 5px;
}

.modal {
  --bs-modal-width: 750px;
}

.modal-content {
  border-radius: 46px;
}

.modal-body {
  padding: 40px 40px;
}


.modal-header {
  background-color: $color-primary;
  border-radius: 5px 5px 0px 0px;
}

.modal-title {
  color: white;
}

.modal-title .btn-close btn-close-white {
  color: white;
}

.modale .form-control {
  background-color: white;
  border: none;
  height: auto;
  color: $color-dark-blue;

}

#booking_message::placeholder {
  color: $color-dark-blue;
}

.modal-submit {
  color: $color-dark-blue;
  background-color: $color-lighter-blue;
  width: 100%;
}

.modale .avatar {
  border: solid $color-secondary 2px;
  margin-right: 10px;
}


.modal-title-guests {
  flex-grow: 1;
  text-align: center;
}

.modale-guests-header {
  border-bottom: 1px solid white;
  color: $color-primary
}

.modale-guests-status {
  display: flex;
  flex-wrap: nowrap;
}

.modale-guests-status > div {
  font-size: 1em;
}

.modale-guests-status > div:nth-child(n+1) {
  margin-left: 25px;
}

.modale-guests-body {
  min-height: 40px;
  margin: 30px 5%;
}

.booking-description {
  margin-bottom: 17px;
  font-style: italic;
  padding-left: 49px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-primary
}
.was-validated .form-select:valid, .form-select.is-valid {
  border-color: #EFEAFF;
}

.form_input{
  padding-left: 13px;
}




.form-select.is-valid:not([multiple]):not([size]) {
  padding-right: 2.125rem
}

.mapboxgl-ctrl-geocoder--input {
height: 36px !important;

}

.search-input-address input{
  padding-right: 58px!important;
}
.secondary-button {
  float: right;
  margin-top: 15px;
}
