.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 72px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav {
  align-items: center;
  width: 33vw;
  justify-content: space-between;
}

.navbar-nav .user-infos {
  display: flex;
  align-items: center;
}
