.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 72px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand h3 {
  background: -webkit-linear-gradient(45deg, rgba(45,11,141,1) 0%, rgba(10,155,131,1) 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-brand

.navbar-brand h3:hover {
  opacity: 0.7;
}

.navbar-nav {
  align-items: center;
  width: auto;
  justify-content: flex-end;
  color: $color-primary;
}

.navbar-nav .primary-button {
  padding: 4px 23px;
  color: white;
}

.nav-hover:hover {
  opacity:0.7;
}

.navbar-nav .user-infos {
  display: flex;
  align-items: center;
}

.navbar-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  color: white;
  z-index: 1;
}


.navbar-transparent h3 {
  background: -webkit-linear-gradient(45deg, rgba(205,190,251,1) 20%, rgba(82,192,174,1) 64%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-transparent h3:hover {
  background: -webkit-linear-gradient(180deg, rgb(241, 244, 245) 20%, rgb(222, 233, 231) 64%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.navbar-transparent .nav-link {
  color: white;
}

.navbar-transparent .nav-item {
  color: white;
}

/* .navbar-transparent .nav-item:hover:not(.dropdown) {
  opacity: 0.7;
} */

.user-infos .nav-item {
  display: flex;
  align-items: center;
}

.navbar-nav .avatar {
  width: 30px;
}

.nav-item {
  margin-left: 2em;
}
/*
.nav-item:hover {
  font-weight: 600;
}
*/

.nav-item a {
  color: $color-primary;
}

#addjambutton:hover {
  color: white!important;
}

.dropdown-toggle::after {
  display: none!important;
}

#navbarDropdown {
  display: flex;
}

.user-name {
  cursor:pointer;
  display: flex;
  align-items: center;
}

/* .user-name:hover {
  font-weight: 600;
  opacity: 0.7;
} */

.dropdown-item:active {
  background-color: $color-primary;
}
