.avr-review {
  display: flex;
}


button:focus-visible {
  outline: 0px;
}

.index-reviews {
  display: flex;
  justify-content: flex-start;
}

.publication-reviews {
  margin: 0px;
  margin-bottom: 20px;
}
.reviews-body-modal {
  padding: 25px;
}

.note-review {
  margin-left: 10px;
  font-size: 1.1em;
  color: white;
}
