.avr-review {
  display: flex;
}

.button-circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  margin-left: 20px;
  border: solid white 1px;
  font-size: 10px;
  font-weight: bold;
}

button:focus-visible {
  outline: 0px;
}

.index-reviews {
  display: flex;
  justify-content: center;
}

.publication-reviews {
  margin: 0px;
  margin-bottom: 20px;
}
.reviews-body-modal {
  padding: 25px;
}

.note-review {
  margin-left: 10px;
  font-size: 1.1em;
  color: white;
}
