.tag {
  width: auto;
  border-radius: 4px;
  padding: 2px 11px;
  font-size: 0.8em;
  margin-right: 0.4em;
  font-family: $headers-font;
  font-weight: 800;
}

.tag-genres {
  color: $color-primary;
  background-color: $color-light-blue;
}

.tag-instruments {
  color: $color-secondary;
  background-color: #CCEEEE;
}

.tag-artist {
  background-color: $color-dark-blue;
}

.tag-supp {
  background-color: #CCEEEE;
  color: $color-secondary;
}

.tag-supp-genres {
  background-color: $color-light-blue;
  color: $color-primary;
  width: auto;
  border-radius: 16px;
  padding: 1px 10px;
  font-size: 0.8em;
  margin-right: 0.2em;
  padding-bottom: 3px;
}
