.form-sign-up {
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 2em;
  margin-bottom: 2em;;
  padding: 15px;
  border-radius: 15px;
}

.avatar-input {
    width:150px;
    height:150px;
    margin: 25px auto;
    overflow: hidden;
    border-radius:50%;
    position: relative;
}

.upload-avatar {
  height: 65px;
  width: 65px;
  background: gray;
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}


.address-sign-up {

  div {
    max-width: 500px;
    width: 454px;
  }

//   input {
//     width: 454px;
//   }
// }
}

.image-sign-in {
  flex-grow: 1;

  img {
    height: 600px;
    object-fit: cover;
    width: auto;
  }
}

.sign-in a {
  color: $color-primary;
}

.sign-in h2 {
  background: -webkit-linear-gradient(45deg, #3f2197 28%, #52c0ae 60%);  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.4em;
  font-weight: 1000;
  font-family: quicksand;
}

.sign-in .primary-button {
  width: 100%;
}

.sign-in .primary-button:hover {
  width: 100%;
  background-color: $color-primary;
  opacity: 0.8;
  color: white;
}

.sign-in p {
  text-align: center;
}

.sign-in .container {
  width: 66%;
}
